body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #666, #999); /* fundo cinza degradê */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container do formulário */
.form-container {
    background-color: white;
    padding: 10px 70px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    border: 5px solid #000;  /* <- BORDA PRETA */
}

.logo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #000;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

button:hover {
    background-color: #333;
}

.register {
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

.fundo { 
    background-color: rgb(201, 209, 209); 
    border-radius: 20px; /* <-- aqui arredonda a borda */
} 

.login-title { 
    font-size: 60px; /* Aumenta o tamanho da fonte */
    font-weight: 700; /* Negrito */ 
    text-align: center; /* Centraliza */ 
    font-family: 'Poppins', sans-serif; /* Altere para a fonte que quiser */
    margin-bottom: 20px; 
}

.top-line {
    width: 0%;
    height: 500px;
    background-color: rgb(10, 12, 9);
    position: absolute;
    top: 25%;
    left: 37%;
}